:root {
	--air-theme-bg-color: #2e2358;
	--air-theme-bg-size: cover;
	--air-theme-bg-repeat: no-repeat;
	--air-theme-bg-position: 0 0;
	--air-theme-bg-attachment: fixed;
	--air-theme-bg-image: url(/bitrix/templates/bitrix24/themes/light/vibecode-ultra/vibecode-ultra.jpg);
	--air-theme-bg-image-blurred: url(/bitrix/templates/bitrix24/themes/light/vibecode-ultra/vibecode-ultra-blurred.webp);
}
